{% extends "base.html" %}
{% block title %}About Us - Krishi Sahyog{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h3>About the Project</h3>
    </div>
    <div class="card-body">
      <p>
        <strong>Krishi Sahyog</strong> is an innovative platform designed to empower farmers with data-driven insights and sustainable farming practices. Leveraging advanced machine learning techniques and intuitive user interfaces, the project helps in crop selection, provides personalized farming advice, and offers market insights to optimize yield and sustainability.
      </p>
    </div>
  </div>

  <div class="card shadow-sm">
    <div class="card-header">
      <h3>About Me: Rishav Bairagya</h3>
    </div>
    <div class="card-body">
      <p>
        I am a student currently pursuing his B.S. in Data Science and Applications at the Indian Institute of Technology, Madras, and his B.Tech in Computer Science and Engineering at Narula Institute of Technology.
      </p>
      <p>
        I enjoy solving problems and building projects that can make a difference. My interests lie in the fields of Data Science, Machine Learning, and Artificial Intelligence. I am proficient in Python, R, and various data visualization tools. I have experience working with machine learning algorithms, data preprocessing, and model evaluation.
      <p>

        For more details,<br> 
        Feel free to connect with me on: <a href="https://www.linkedin.com/in/rishavbairagya/" target="_blank">LinkedIn</a>.<br>
        Check out my projects at <a href="https://github.com/Vahsir7" target="_blank">GitHub</a>.<br>
        You can also reach out via email at 
        <a href="mailto:rishavbairagya@example.com">rishavbairagya@example.com</a>. <br>
        Phone: +91 9477455599
      </p>
    </div>
  </div>
</div>
{% endblock %}
